{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-welcome">
  <p class='blog-page'>Mobile photography means taking pictures with a mobile camera.
  The camera technology on smartphones is more than adequate for taking photos and publishing them online.
  Depending on the camera quality and number of pixels, photos can be printed 8x10" and higher with excellent results.
  The significant difference today is that everyone with a smartphone has a camera handy.
  The following table shows the minimum number of megapixels (MPs) required for quality printing.
  Megapixels are only a base requirement; however, the quality of the camera's optics and digital processing varies from model to model.
  See megapixel and digital camera.</p>
  <p class='blog-page'>Your phone camera is your best camera, because it's always with you.
  When people say this about mobile photography, or iphoneography as it's also called, they're usually talking about snapping those unexpected moments:
  a man in a banana suit on his way to work; a celebrity involved in a punch-up; or maybe just a beautiful sunset.
  Certainly, mobile photographers are much more prolific than average amateur "big camera" enthusiasts.
  They have their photographic brains switched on all the time, looking for possibilities.
  And the ubiquity of these cameras, combined with their unobtrusiveness, have made them particularly effective at capturing candid moments in public spaces.
  But, for many, the initial snap is just the start. It's the raw material for a new creative process. Most mobile phone cameras take very dull photos.
  But it doesn't matter, because there are hundreds of apps to help you turn them into something amazing.
  And that's what's really at the heart of it. Costing pennies, mobile photography apps give you the creative power of Photoshop, and more besides, without being tied to your desk.
  This makes mobile photography incredibly liberating for the creative photographic spirit.
  Suddenly, every free moment is an opportunity to both take and craft images.
  These apps have accelerated the creative process, as well as allowing you, quite simply, to be more creative, more of the time, for less money</p>
  <ol class='jumbotron tips'>
      <p><strong>TIPS:</strong></p>

      <li><strong>Use gridlines to balance your shot.</strong></li>
      <li><strong>Set your camera's focus.</strong></li>
      <li><strong>Focus on one subject.</strong></li>
      <li><strong> Embrace negative space.</strong></li>
      <li><strong>Avoid zooming in.</strong></li>
      <li><strong>Use natural light.</strong></li>
      <li><strong>Set your camera app's exposure manually.</strong></li>
      <li><strong>Clean your phone's lens.</strong></li>
      <li><strong>Don't be afraid to edit.(recommended:lightroom)</strong></li>

    </ol>


</div>
{% endblock %}
